mixin carac(carac)
    div.form-group
        label.col-xs-3(for=carac) #{t('character.ability.'+carac)}
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.ability."+carac,id=carac)
        span.col-xs-3(data-ng-bind="calculateMod(character.ability."+carac+")")
        span.col-xs-3(data-ng-bind="calculateTotalMod(character.ability."+carac+")")

+section("ability")
    div.form-group
        span.col-xs-3
        span.col-xs-3
        span.col-xs-3 #{t('character.ability.mod')}
        span.col-xs-3 #{t('character.ability.modAndLevel')}
    +carac("strength")
    +carac("constitution")
    +carac("dexterity")
    +carac("intelligence")
    +carac("wisdom")
    +carac("charisma")