mixin carac(carac)
    div.form-group
        label.col-xs-3(for=carac) #{t('character.ability.'+carac)}
        div.col-xs-3
            input.form-control(type="number",name=carac,data-ng-model="character."+carac,id=carac)
        span.col-xs-3(data-ng-bind="calculateMod(character."+carac+")")
        span.col-xs-3(data-ng-bind="calculateTotalMod(character."+carac+", character.level)")

section
    h1
        a(data-toggle="collapse",data-target="#ability") #{t('character.ability.title')}
    div#ability.collapse
        div.form-group
            span.col-xs-3
            span.col-xs-3
            span.col-xs-3 #{t('character.ability.mod')}
            span.col-xs-3 #{t('character.ability.modAndLevel')}
        +carac("strength")
        +carac("constitution")
        +carac("dexterity")
        +carac("intelligence")
        +carac("wisdom")
        +carac("charisma")