mixin def(def)
    div.form-group
        label.col-xs-3(for=def) #{t('character.defenses.'+def)}
        p.col-xs-3(data-ng-bind="10 + calculateHalfLevel(character.id.level) + character.defenses."+def)
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.defenses."+def,id=def)

section
    h1
        a(data-toggle="collapse",data-target="#defenses") #{t('character.defenses.title')}
    div#defenses.collapse
        div.form-group
            p.col-xs-3
            p.col-xs-3 #{t('character.value')}
            p.col-xs-3 #{t('character.bonus')}
        +def("armor")
        +def("fortitude")
        +def("reflex")
        +def("will")