mixin powerSimple(powerList,nameSpace)
    ul.list-unstyled(id=nameSpace + "List")
        li.col-xs-12(data-ng-repeat="power in "+powerList)
            div.form-group
                label.col-xs-3 #{t('character.powers.name')}
                div.col-xs-7
                    input.form-control(type="text",data-ng-model="power.name",id=nameSpace + "-name-{{$index}}")
                +removeButton(powerList,"power")(id=nameSpace + "Delete-{{$index}}")
            if block
                block
            div.form-group
                textarea.form-control(data-ng-model="power.text",id=nameSpace + "-text-{{$index}}")
    button.btn.btn-success(type="button",data-ng-click="addElementToList("+powerList+")",id=nameSpace + "Add")
        span.glyphicon.glyphicon-plus

mixin power(powerList,nameSpace)
    +powerSimple(powerList,nameSpace)
        div.form-group
            label.col-xs-3 #{t('character.powers.attack')}
            +vs("power.attack","power.defense")(id="vs-"+nameSpace + "-{{$index}}")
        div.form-group
            label.col-xs-3 #{t('character.powers.damages')}
            div.col-xs-3
                input.form-control(type="number",data-ng-model="power.numberDice",id=nameSpace + "-numberDice-{{$index}}")
            span.col-xs-3
                | [A] + {{calculateSumMod(character,power.damagesModifiers)}}
        div.form-group
            label.col-xs-3 #{t('character.powers.damagesModifiers')}
            div.col-xs-9
                +abilityType("power.damagesModifiers")(multiple="multiple",id="ability-modifier-"+nameSpace + "-{{$index}}")
        if block
            block

mixin powerUseable(powerList,nameSpace)
    +power(powerList,nameSpace)
        div
            button.btn.btn-primary(type="button",ng-model="power.used",data-ng-show="!power.used",btn-checkbox) #{t('character.powers.used')}
            button.btn.btn-danger(type="button",ng-model="power.used",data-ng-show="power.used",data-btn-checkbox) #{t('character.powers.reset')}

+section("powers")
    section
        h2
            a(data-toggle="collapse",data-target="#atWill",id="atWillShow") #{t('character.powers.atWill')}
        div#atWill.collapse
            +power("character.powers.atWill","atWill")
    section
        h2
            a(data-toggle="collapse",data-target="#encounter",id="encounterShow") #{t('character.powers.encounter')}
        div#encounter.collapse
            +powerUseable("character.powers.encounter","encounter")
    section
        h2
            a(data-toggle="collapse",data-target="#daily",id="dailyShow") #{t('character.powers.daily')}
        div#daily.collapse
            +powerUseable("character.powers.daily","daily")
    section
        h2
            a(data-toggle="collapse",data-target="#utility",id="utilityShow") #{t('character.powers.utility')}
        div#utility.collapse
            +powerSimple("character.powers.utility","utility")