section
    h1
        a(data-toggle="collapse",data-target="#powers") #{t('character.powers.title')}
    div#powers.collapse.in
        section
            h1 #{t('character.powers.atWill')}
            +power("character.powers.atWill")
        section
            h1 #{t('character.powers.encounter')}
            +power("character.powers.encounter")
                div.form-group
                    label.col-xs-3 #{t('character.powers.used')}
                    div.col-xs-3
                        input.form-control(type="checkbox",data-ng-model="power.used")
        section
            h1 #{t('character.powers.daily')}
            +power("character.powers.daily")
                div.form-group
                    label.col-xs-3 #{t('character.powers.used')}
                    div.col-xs-3
                        input.form-control(type="checkbox",data-ng-model="power.used")