section
    h1
        a(data-toggle="collapse",data-target="#powers") #{t('character.powers.title')}
    div#powers.collapse
        section
            h2
                a(data-toggle="collapse",data-target="#atWill") #{t('character.powers.atWill')}
            div#atWill.collapse
                +power("character.powers.atWill")
        section
            h2
                a(data-toggle="collapse",data-target="#encounter") #{t('character.powers.encounter')}
            div#encounter.collapse
                +power("character.powers.encounter")
                    div.form-group.checkbox
                        label
                            input.form-control(type="checkbox",data-ng-model="power.used")
                            | #{t('character.powers.used')}
        section
            h2
                a(data-toggle="collapse",data-target="#daily") #{t('character.powers.daily')}
            div#daily.collapse
                +power("character.powers.daily")
                    div.form-group.checkbox
                        label
                            input.form-control(type="checkbox",data-ng-model="power.used")
                            | #{t('character.powers.used')}
