mixin skill(skill)
    div.form-group
        label.col-xs-3 #{t('character.skills.'+skill)}
        p.col-xs-3(data-ng-bind="calculateTotalMod(character.skills."+skill+",character.level) + character.skills."+skill+".trained + character.skills."+skill+".bonus")
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.skills."+skill+".trained")
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.skills."+skill+".bonus")

section
    h1
        a(data-toggle="collapse",data-target="#skills") #{t('character.skills.title')}
    div#skills.collapse
        div.form-group
            p.col-xs-3
            p.col-xs-3 #{t('character.value')}
            p.col-xs-3 #{t('character.skills.training')}
            p.col-xs-3 #{t('character.bonus')}
        +skill("acrobatics")
        +skill("arcana")
        +skill("athletics")
        +skill("bluff")
        +skill("diplomacy")
        +skill("dungeoneering")
        +skill("endurance")
        +skill("heal")
        +skill("history")
        +skill("insight")
        +skill("intimidate")
        +skill("nature")
        +skill("perception")
        +skill("religion")
        +skill("stealth")
        +skill("streetwise")
        +skill("streetwise")
        +skill("thievery")
        +skill("alchemy")