mixin tab(name)
    li(class!=attributes.class)
        a(data-toggle="tab",href="#"+name) #{t('character.'+name+'.title')}

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        title #{t('character.sheet')}
        include head
    body.container(data-ng-controller="characterController",data-ng-app="rpgZone")
        nav.navbar.navbar-default.navbar-fixed-top
            div.container
                button.visible-xs.btn.btn-primary(data-toggle="offcanvas")
                    span.glyphicon.glyphicon-list
                a.btn.btn-info.pull-right(data-ng-href="/",target="_self")
                    span.glyphicon.glyphicon-user
                    span.hidden-xs  #{t('character.return')}
        div.row.row-offcanvas.row-offcanvas-left
            nav#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role="navigation")
                ul.nav.nav-pills.nav-stacked
                    +tab("id")(class="active")
                    +tab("initiative")
                    +tab("movement")
                    +tab("ability")
                    +tab("hp")
                    +tab("defenses")
                    +tab("skills")
                    +tab("powers")
                    +tab("feats")
                    +tab("equipments")
                    +tab("wealth")
                    +tab("notes")
            div.col-sm-9.col-xs-12
                form#sheet(data-ng-submit="submit()",class="form-horizontal",name="form")
                    div.tab-content
                        include mixins/template
                        include perso/id
                        include perso/initiative
                        include perso/movement
                        include perso/ability
                        include perso/hp
                        include perso/defenses
                        include perso/skills
                        include perso/powers
                        include perso/feats
                        include perso/equipment
                        include perso/wealth
                        include perso/notes
                    section.col-xs-12
                        div.alert.alert-success(data-ng-show="form.$pristine")
                            p #{t('character.saved')}
                        div.alert.alert-danger(data-ng-show="form.$dirty")
                            div
                                p #{t('character.unsaved')}
                            div.btn-group.btn-group-justified
                                div.btn-group
                                    button.btn.btn-success(type="submit")
                                        span.glyphicon.glyphicon-save
                                        span.hidden-xs  #{t('character.save')}