mixin dice(model)
    select.form-control(data-ng-model=model,id!=attributes.id)
        option(value="") #{t('character.select')}
        option 4
        option 6
        option 8
        option 10
        option 12

mixin powerType(model)
    select.form-control(data-ng-model=model,id!=attributes.id)
        option(value="") #{t('character.select')}
        option(value="atWill") #{t('character.powers.atWill')}
        option(value="encounter") #{t('character.powers.encounter')}
        option(value="daily") #{t('character.powers.daily')}

mixin abilityType(model)
    select.form-control(data-ng-model=model,multiple!=attributes.multiple,id!=attributes.id)
        option(value="") #{t('character.select')}
        option(value="strength") #{t('character.ability.strength')}
        option(value="constitution") #{t('character.ability.constitution')}
        option(value="dexterity") #{t('character.ability.dexterity')}
        option(value="intelligence") #{t('character.ability.intelligence')}
        option(value="wisdom") #{t('character.ability.wisdom')}
        option(value="charisma") #{t('character.ability.charisma')}

mixin defenseType(model)
    select.form-control(data-ng-model=model,id!=attributes.id)
        option(value="") #{t('character.select')}
        option(value="armor") #{t('character.defenses.armor')}
        option(value="fortitude") #{t('character.defenses.fortitude')}
        option(value="reflex") #{t('character.defenses.reflex')}
        option(value="will") #{t('character.defenses.will')}

mixin position(model)
    select.form-control(data-ng-model=model,id!=attributes.id)
        option(value="weapon") #{t('character.equipments.weapon')}
        option(value="armor") #{t('character.equipments.armor')}
        option(value="arms") #{t('character.equipments.arms')}
        option(value="feet") #{t('character.equipments.feet')}
        option(value="hands") #{t('character.equipments.hands')}
        option(value="head") #{t('character.equipments.head')}
        option(value="neck") #{t('character.equipments.neck')}
        option(value="ring") #{t('character.equipments.ring')}
        option(value="waist") #{t('character.equipments.waist')}
        option(value="") #{t('character.equipments.other')}
