include selects

mixin entry(name,id)
    div.form-group
        label.col-xs-3(for=name) #{t('character.'+name)}
        div.col-xs-9
            input.form-control(type!=attributes.type?attributes.type:"text",name=name,data-ng-model="character."+name,id=id)

mixin calculableEntry(name,id)
    div.form-group
        label.col-xs-3(for=name) #{t('character.'+name)}
        div.col-xs-3
            input.form-control(type="number",name=name,data-ng-model="character."+name,id=id)
        div.col-xs-3
            button.btn.btn-success(type="button",data-ng-click="addTo(\"character."+name+"\")",id=id + "Add")
                span.glyphicon.glyphicon-plus
        div.col-xs-3
            button.btn.btn-danger(type="button",data-ng-click="substractTo(\"character."+name+"\")",id=id + "Sub")
                span.glyphicon.glyphicon-minus

mixin dices(numberModel,valueModel)
    div.col-xs-3
        input.form-control(type="number",data-ng-model=numberModel)
    span.col-xs-3
        p d
    div.col-xs-3
        +dice(valueModel)

mixin vs(attackModel,defenseModel)
    div.col-xs-3
        +abilityType(attackModel)(id!="ability-"+attributes.id)
    div.col-xs-3
        p VS
    div.col-xs-3
        +defenseType(defenseModel)(id!="defense-"+attributes.id)

mixin section(name)
    section.tab-pane(id=name,class!=attributes.class)
        block

mixin removeButton(list,elt)
    button.btn.btn-danger.pull-right(type="button",data-ng-click="open("+list+","+elt+")",id!=attributes.id)
        span.glyphicon.glyphicon-remove

