include selects

mixin entry(name)
    div.form-group
        label.col-xs-3(for=name) #{t('character.'+name)}
        div.col-xs-9
            input.form-control(type!=attributes.type?attributes.type:"text",name=name,data-ng-model="character."+name,id=name)

mixin dices(numberModel,valueModel)
    div.col-xs-3
        input.form-control(type="number",data-ng-model=numberModel)
    span.col-xs-3
        p d
    div.col-xs-3
        +dice(valueModel)

mixin vs(attackModel,defenseModel)
    div.col-xs-3
        +abilityType(attackModel)
    div.col-xs-3
        p VS
    div.col-xs-3
        +defenseType(defenseModel)

mixin section(name)
    section.tab-pane(id=name,class!=attributes.class)
        block

mixin removeButton(list,elt)
    button.btn.btn-danger.pull-right(type="button",data-ng-click="open("+list+","+elt+")")
        span.glyphicon.glyphicon-remove

